@using Microsoft.AspNetCore.Identity;
@using Tricount.BL.Abstract;
@using Tricount.Entities.Concrete;
@using Tricount.MVC.Models.DTO_s.Group;

@inject UserManager<User> userManager;
@inject IGroupManager groupManager;
@{
    var userGroup =  new List<Group>();
    var user = await userManager.GetUserAsync(User);
    if (User.Identity.IsAuthenticated)
    {
        var userSlug = user.Slug;
        userGroup = groupManager.GetAllInclude(null, g => g.GroupUsers.Where(gu => gu.User.Slug == userSlug)).Result.ToList();
    }
    var userId = userManager.GetUserId(User);
    var userGroups = groupManager.GetGroupWithUserSlug(user.Slug).Result.ToList();
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">TriCount</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <label>Hesap:</label>
                <a href="#" class="d-block">@user.UserName</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Arama Yap" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    @foreach (var group in userGroup)
                    {
                        if (group.GroupUsers.Count > 0)
                        {
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Group" asp-action="Detail" asp-route-slug="@group.Slug" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>@group.Name</p>
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                </li>

            </ul>
        </nav>

        <!-- Button trigger modal -->
        <div class="form-inline d-flex justify-content-center">
            <a class="btn btn-primary" asp-area="Dashboard" asp-controller="Group" asp-action="GetCreateGroup" data-bs-toggle="modal" data-bs-target="#createGroupModal">
                + Create New Group
            </a>
        </div>

        <partial name="_CreateModal"></partial>

        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>