@using Tricount.Entities.Concrete;
@using Tricount.MVC.Models.DTO_s.Group;
@model GroupDetailViewModel

<!-- Modal -->
<div class="modal fade m-5" id="NotificationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="NotificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="NotificationModalLabel">Notification</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@foreach (var item in Model)
            {
                <label>Sender person: @item.SenderId</label>
                <label>Group Name: @item.Group.Name</label>
                <a asp-area="Dashboard" asp-controller="Group" asp-action="DeniedInvite" asp-route-inviteId="@item.Id" class="btn btn-danger">Denied</a>
                <a asp-area="Dashboard" asp-controller="Group" asp-action="AccessInvite" asp-route-inviteId="@item.Id" class="btn btn-success">Accept</a>
            }*@
            <div class="mb-3">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>