@*@model ICollection<Group>*@
@using Microsoft.AspNetCore.Identity;
@using Tricount.Entities.Concrete;
@inject UserManager<User> userManager;
@{

    var user = await userManager.GetUserAsync(User);

}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">TriCount</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <label>Hesap:</label>
                <a href="#" class="d-block">@user.UserName</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Arama Yap" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    @*@foreach (var item in Model)
                    {
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="Group" asp-action="Index" asp-route-id="@item.Id" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@item.Name</p>
                                </a>
                            </li>
                        </ul>
                    }*@
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

