@using Tricount.Entities.Concrete;
@using Tricount.MVC.Models.DTO_s.Group;
@model GroupDetailViewModel

<!-- Button trigger modal -->
<div class="btn-group" role="group" aria-label="BtnGroup">
    <a class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#createInviteModal">
        Share
    </a>
    <a class="btn btn-primary mb-5" id="updateGroupModalButton" data-bs-toggle="modal" data-bs-target="#updateGroupModal">
        Update
    </a>
    <a class="btn btn-primary mb-5" id="deleteGroupModalButton" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">
        Delete
    </a>
</div>
<a class="btn btn-"></a>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Create Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Group.Id</th>
            <td>@Model.Group.Name</td>
            <td>@Model.Group.Description</td>
            <td>@Model.Group.CreateDate.ToShortDateString()</td>
        </tr>
    </tbody>
</table>

<script>
    document.getElementById("updateGroupModalButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $.ajax({
            url: '/dashboard/getupdategroup/' + slug,
            type: 'GET',
            success: function (result) {
                $("#updateGroupModal").modal("show");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
    document.getElementById("deleteGroupModalButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $.ajax({
            url: '/dashboard/getdeletegroup/' + slug,
            type: 'GET',
            success: function (result) {
                $("#deleteGroupModal").modal("show");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
</script>

<partial name="_InviteModal"/>
<partial name="_UpdateGroupModal"/>
<partial name="_DeleteGroupModal"/>