@using Tricount.Entities.Concrete;
@using Tricount.MVC.Models.DTO_s.Group;
@model GroupDetailViewModel

<!-- Button trigger modal -->
<div class="form-inline d-flex justify-content-center">
    <a class="btn btn-primary mb-5" asp-area="Dashboard" asp-controller="Group" asp-action="PostCreateInvite" data-bs-toggle="modal" data-bs-target="#createInviteModal">
        Send Group Invite ->
    </a>
</div>

<partial name="_InviteModal"></partial>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Create Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Group.Id</th>
            <td>@Model.Group.Name</td>
            <td>@Model.Group.Description</td>
            <td>@Model.Group.CreateDate.ToShortDateString()</td>
        </tr>
    </tbody>
</table>