@using Microsoft.AspNetCore.Identity;
@using Tricount.Entities.Concrete;
@model GroupDetailViewModel
@inject UserManager<User> userManager;
@{
    var user = await userManager.GetUserAsync(User);

}


<div class="btn-group" role="group" aria-label="BtnGroup">
    <a class="btn btn-primary mb-5" id="createInviteModalButton" data-bs-toggle="modal" data-bs-target="#createInviteModal">
        Share
    </a>
    <a class="btn btn-primary mb-5" id="updateGroupModalButton" data-bs-toggle="modal" data-bs-target="#updateGroupModal">
        Update
    </a>
    <a class="btn btn-primary mb-5" id="deleteGroupModalButton" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">
        Delete
    </a>
</div>

<div class="btn-group" role="group" aria-label="BtnGroup">
    <a class="btn btn-primary mb-5" id="createExpenseModalButton" data-bs-toggle="modal" data-bs-target="#createExpenseModal">
        Add Expense
    </a>
    <a class="btn btn-primary mb-5" id="getPaymentsButton" data-bs-toggle="modal" data-bs-target="#paymentsModal">
        Show Payments
    </a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Create Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Group.Id</th>
            <td>@Model.Group.Name</td>
            <td>@Model.Group.Description</td>
            <td>@Model.Group.CreateDate.ToShortDateString()</td>
        </tr>
    </tbody>
</table>

<script src="~/js/script.js"></script>

@*<script type="text/javascript">
    document.getElementById("updateGroupModalButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $.ajax({
            url: '/dashboard/getupdategroup/' + slug,
            type: 'GET',
            success: function () {
                $("#updateGroupModal").modal("show");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
    document.getElementById("deleteGroupModalButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $.ajax({
            url: '/dashboard/getdeletegroup/' + slug,
            type: 'GET',
            success: function () {
                $("#deleteGroupModal").modal("show");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
    document.getElementById("createInviteModalButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $.ajax({
            url: '/dashboard/getcreateinvite/' + slug,
            type: 'GET',
            success: function () {
                $("#createInviteModal").modal("show");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
    document.getElementById("createExpenseModalButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $.ajax({
            url: '/dashboard/getcreateexpense/' + slug,
            type: 'GET',
            success: function () {
                $("#createExpenseModal").modal("show");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
    document.getElementById("getPaymentsButton").addEventListener("click", function () {
        var slug = window.location.pathname.split('/').pop();
        $("#paymentsModal").modal("show");
        $.ajax({
            url: '/dashboard/getpayments/' + slug,
            type: 'GET',
            success: function () {
                alert("Başarılı");
            },
            error: function () {
                alert("An error occurred while fetching modal content.");
            }
        });
    });
</script>*@

<partial name="_UpdateGroupModal" />
<partial name="_DeleteGroupModal" />
<partial name="_InviteModal" />
<partial name="_PaymentsModal" model="Model" />
<partial name="_CreateExpenseModal" />