@using Tricount.Entities.Concrete;
@model ICollection<Group>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <th scope="row">@group.Id</th>
                <td>@group.Name</td>
                <td>@group.Description</td>
            </tr>
        }
    </tbody>
</table>